@import milligram/src/_Color
@import milligram/src/_Base
@import milligram/src/_Blockquote
@import milligram/src/_Code
@import milligram/src/_Divider
@import milligram/src/_Form
@import milligram/src/_Grid
@import milligram/src/_Link
@import milligram/src/_List
@import milligram/src/_Spacing
@import milligram/src/_Table
@import milligram/src/_Typography
@import milligram/src/_Image
@import milligram/src/_Utility

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

html
  overflow: hidden
  font-family: 'Roboto', sans-serif
  font-weight: 300

html, body, body > div
  height: 100%
  margin: 0


/* body
/*   background: $color-widget-background
/* .painting-widget
/*   display: flex
/*   background: $color-widget-background
/*   flex: 1 1 auto
/*   overflow: hidden

/*   .pusher
/*     flex: 1 1 auto
/*     display: flex

/*   .painting-widget-item
/*     display: flex
/*     justify-content: center

/*     margin-right: 1rem

/*     &:first-of-type
/*       margin-right: 0

/*     &:last-of-type
/*       margin-right: 0

/*     img
/*       padding: 1rem
/*       display: flex
/*       max-height: 100%
/*       object-fit: contain

/* .sidebar-and-workzone
/*   display: flex
/*   height: 100%

/* .sidebar
/*   display: flex
/*   flex-direction: column
/*   background: darken($color-widget-background, 10%)
/*   width: 8rem
/*   padding: 1rem 1rem
/*   height: 100%
/*   transition: 0.3s

/*   .todos
/*     display: flex
/*     flex-direction: column
/*     flex-grow: 1

/*   .top-level-link
/*     display: flex
/*     overflow: hidden
/*     text-overflow: ellipsis
/*     white-space: nowrap
/*     flex-grow: 0

/*   .sidebar-toggle
/*     width: 2rem
/*     height: 2rem
/*     border-radius: 100%
/*     margin-top: 1rem

/*   &.expanded
/*     width: 30%
/*     padding: 1rem 2rem

/*   .todo-brief
/*     align-items: center
/*     display: flex
/*     height: 4rem
/*     overflow: hidden
/*     text-overflow: ellipsis
/*     vertical-align: middle
/*     white-space: nowrap
